<div class="container text-center mt-5" style="border: solid black thin">
  <app-question
    [survey]="survey"
  ></app-question>
<!--  <button class="btn btn-outline-success m-3" style="width: 6rem" (click)="onSubmitSurveyClick()">Submit</button>-->
</div>

<!--<div class="container text-center" style="border: solid black thin">-->
<!--  <app-question-list-->
<!--    [survey]="survey"-->
<!--  ></app-question-list>-->
<!--  <button class="btn btn-outline-success m-3" style="width: 6rem" (click)="onSubmitSurveyClick()">Submit</button>-->
<!--</div>-->

