<!--MAIN PAGE HEADER-->

<div *ngIf="viewSurvey==false" class="text-center" style="background: lightgray; padding: 5rem; margin: 1rem">
  <h1>Welcome, Follower!</h1>
  <p>Take Surveys Here</p>
</div>

<!--SURVEY LIST-->
<div *ngIf="viewSurvey==false">
  <app-survey-list
    (viewSurvey)="toggleViewSurveyClick($event)"
  ></app-survey-list>
</div>


<div *ngIf="viewSurvey==true">
  <div *ngIf="beginSurvey==false" class="d-flex justify-content-end m-3" style="background: lightgray; padding: 1rem">
    <!--    toggle back to survey list-->
    <button class="btn btn-primary" (click)="toggleViewSurveyClick(false)">Back to List of Surveys</button>
  </div>
  <app-survey></app-survey>
</div>

